---
import Login from "../components/Login.astro";
import Sidebar from "../components/Sidebar.astro";
---

<style>
.layout {
  display: flex;
  height: 100vh;
}
.content {
  margin-left: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.partition {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
}
</style>

<div class="layout">
  <Sidebar />
  <div class="content">
    <slot />
  </div>
</div>
